

* {
padding:0px;
margin:0px;
}


#faq{

}
#faq ul li {
	width: 70%;
	display: block;
	
}

.hom {
	display: block;
	padding-left: 10px;
	padding-top:5px;
	background: #eeeeee;
	font-weight: bold;
	padding: 8px;
}
	
.asw{
	padding-left: 20px;
	background-color: white;
	font-weight: normal;
	margin-bottom: 10px;	
}


