{% extends "index.html" %}
{% block title %}daftar {% endblock %}
{% block menu %}
 			<ul class="nav">
    			  <li><a  href="{% url depan %}">Depan</a></li>
    			  <li><a href="{% url informasi %}">Berita</a></li>
    			  <li class="active"><a href="{% url daftar %}">Pendaftaran</a></li>
    			  <li><a href="{% url penginapan %}">Penginapan</a></li>
    			  <li><a href="{% url jadwal %}">Jadwal</a></li>
    			  <li><a href="{% url sponsor %}">Sponsor</a></li>
    			  <li><a href="{% url faq %}">FAQ</a></li>
    			  <li><a href="{% url hubungi %}">Hubungi</a></li>
  			
   			 </ul>
{% endblock %}

{% block content %}
 <h3><u>Pendaftaran</u></h3>

<h5>Setelah anda mendaftar cek biaya penginapan <a href="{% url penginapan %}">disini</a>.<br>
Dan apabila anda ingin menghubungi kami silahkan <a href="{% url hubungi %}">ke sini</a>.</h5>

{% endblock %}
