  {% extends "index.html" %}
{% block title %}Hubungi {% endblock %}
{% block content %}
  </p>
  <div class="bs-docs-example">
   <br/>
   <br/>
   <table class="table table-striped table-hover" style="">
    <tr>
     <th>
      Penginapan
     </th>
     <th>
      Harga
     </th>
     <th>
      Alamat
     </th>
     <th>
      Website
     </th>
    </tr>
    {% for penginapan in PEnginapan %}
    <tr>
     <td>
      {{ penginapan.penginapan }}
     </td>
     <td>
      {{ penginapan.harga }}
     </td>
     <td>
      {{ penginapan.Alamat }}
     </td>
     <td>
      {{ penginapan.website }}
     </td>
    </tr>
    {% endfor %}
   </table>
  </div>
  {% endblock %}

