   {% extends "index.html" %}
{% block title %}Sponsor {% endblock %}
{% block content %}
  </p>
  <div class="bs-docs-example">
  	<h5> Jika Anda ingin menjadi Sponsor/Partner kami silahkan <a href="#">unduh berkas</a>.</h5>	
  	<br />
  	<h4> Sponsor Dan Partner.</h4><br />
   <table class="table table-striped table-hover" style="">
    <thead>
     <tr>
      <th>
       #
      </th>
      <th>
       Sponsor/Partner
      </th>
      <th>
       Website
      </th>
     </tr>
    </thead>
    <tbody>
     {% for sponsor in SPonsor %}
     <tr>
      <td>
      </td>
      <td>
       {{ sponsor.by }}
      </td>
      <td>
       {{ sponsor.webiste }}
      </td>
     </tr>
     {% endfor %}
    </tbody>
   </table>
  </div>
  {% endblock %}

